<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="Product"
            value="TumblrV2" />
  <variable name="Logs"
            value="Logs" />
  <variable name="FileName"
            value="${Product}.${date:cached=true:format=yyyyMMddHHmmssfff}.log" />
  <variable name="FilePath"
            value="${Logs}/${date:format=yyyy_MM_dd}/${FileName}" />
  <targets>
    <target xsi:type="File"
            name="file"
            fileName="${FilePath}">
      <layout xsi:type="CSVLayout"
              delimiter="Comma"
              withHeader="True"
              quoting="Auto">
        <column name="LoggedOn"
                layout="${longdate}" />
        <column name="Level"
                layout="${level:uppercase=true}" />
        <column name="Message"
                layout="${message}" />
      </layout>
    </target>
    <target xsi:type="Null"
            name="blackhole" />
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time}|${pad:padding=-5:inner=${level:uppercase=true}}|${message}" />
  </targets>
  <rules>
    <logger name="*"
            minLevel="Trace"
            writeTo="console" />
    <logger name="*"
            minlevel="Trace"
            writeTo="file" />
    <logger name="Microsoft.*"
            minlevel="Trace"
            writeTo="blackhole"
            final="true" />
  </rules>
</nlog>